@import '~variables';

.icon {
  font-size: $font-lg;
  margin-right: $gap-sm;
}

.root {
  background-color: $primary;
  color: $dark-grey;
  font-size: $font-sm;
  font-weight: bold;
  text-transform: uppercase;
  padding: $gap-md;
  border: 2px solid $primary;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.light {
    color: $white;
  }

  &:hover {
    transition: 0.2s;
    background-color: mix($black, $primary, 20%);
    border-color: mix($black, $primary, 20%);
  }
  
  &:disabled {
    background-color: $grey;
    cursor: default;
  }

  // sizes
  &.size-sm { 
    padding: $gap-sm;
    font-size: $font-xs;

    & .icon { font-size: $font-md; }
  }

  // color
  &.color-secondary {
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
      background-color: mix($black, $secondary, 20%);
      border-color: mix($black, $secondary, 20%);
    }
  }
  &.color-grey {
    background-color: $grey;
    border-color: $grey;
    &:hover {
      background-color: mix($black, $grey, 20%);
      border-color: mix($black, $grey, 20%);
    }
  }

  // appearances
  &.appearance-block { width: 100%; }
  &.appearance-outline {
    background-color: transparent;
    color: $primary;
    &:hover {
      background-color: transparent;
      color: mix($black, $secondary, 20%);
    }

    &.color-secondary {
      color: $secondary;
      &:hover { color: mix($black, $secondary, 20%); }
    }
    &.color-grey {
      color: $grey;
      &:hover { color: mix($black, $grey, 20%); }
    }
  }
}

.hoverable {
  & .icon {
    margin: 0;
    transition: 0.2s;
  }
  & .text {
    transition: 0.2s;
    overflow: hidden;
    width: fit-content;
    white-space: nowrap;
    max-width: 0;
  }

  &:hover{
    & .text {
      max-width: 300px;
    }
    & .icon {  margin-right: $gap-sm; }
  }
}