@import '~variables';

.root {
    @include grid;
    padding: $gap-lg 0;
    
    & > * {
        @include col(6);
        cursor: pointer;
    }

    & > *:last-of-type:nth-child(odd) {
      @include col(6, 3)
    }
}


.title {
    color: $primary;
}