@import '~variables';

.root {

  & > main {
    @include grid;
    padding: $gap-lg 0;
    
    & > * { @include col(6) }

    & > *:last-of-type:nth-child(odd) {
      @include col(6, 3)
    }
  }
}

.header {
  text-align: center;
  padding: $gap-md;
}

.title {
  color: $primary;
}