// FONTS
$body-font: 'PT Sans Caption', 'Georgia', serif;
$title-font: 'News Cycle', 'Tahoma', sans-serif;
$font-xs: 0.9rem;
$font-sm: 1.1rem;
$font-md: 1.6rem;
$font-lg: 2.4rem;

// SPACING
$gap-xs: 0.4rem;
$gap-sm: 0.8rem;
$gap-md: 1.6rem;
$gap-lg: 2.4rem;

// BREAKPOINTS
$mobile-breakpoint: 720px;
$mobile: (max-width: $mobile-breakpoint);

// PALETTE
$primary: #E3AAD6;
$secondary: #B5D8EB;
$red: #FFBDD8;
$orange: #FFC8BA;
$green: #93DFB8;
$white: white;
$lighter-grey: #e6e6e6;
$light-grey: #aaa;
$grey: #666;
$dark-grey: #444;
$darker-grey: #222;
$black: black;

// VARIOUS
$radius: 2px;
$radius-xl: 15px;

:export {
  mobile: $mobile-breakpoint;
}

@mixin grid {
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: $gap-lg;
  justify-content: center;

  & > * {
    grid-column: col-start / span 12;
  }

  @media #{$mobile} {
    max-width: $mobile-breakpoint;
    grid-template-columns: repeat(6, [col-start] 1fr);

    & > * {
      grid-column: col-start / span 6;
    }
  }
}

@mixin col($col, $offset: null) {
  grid-column: span $col !important;

  @if ($offset) {
    grid-column: ($offset + 1) / span $col !important;
  }
}